@use '../../../styles/variables.scss';
@use "../../../styles/main.scss";
@use "../../../styles/mixins.scss";

.service-card {
  @include mixins.card;
  width: 100% !important;
  border: 0 !important;
  text-align: left;

  &:hover {
    .service-card__icon {
      color: white !important;
      background-color: variables.$primary-color !important;
    }
  }

  .service-card__icon {
    transition: 0.5s all ease-in-out;
  }
}

@media only screen and (min-width: 992px) {
  .service-card {
    width: 50% !important;
  }
}
