/*
 * Replace this with your own classes
 *
 * e.g.
 * .container {
 * }
*/
.form_detail input, .form_detail textarea, .form_detail div, .form_detail span{
    border: none !important;
    /* cursor: text !important; */
    /* background-color: white !important; */
    /* color: #04011b !important; */
    box-shadow: none !important;
}


.ant-form-item{
    margin-bottom: 0px !important;
}
