@use '../../styles/variables.scss' as variables;
@use "../../styles/mixins.scss" as mixins;

.section-heading {
  @include mixins.flex-center;
  flex-direction: column;
  padding: 4rem 2rem 2rem;
  position: relative;

  .section-heading__main {
    @include mixins.heading;
    position: relative;
    margin-bottom: 1.5rem;
    
    // Decorative line under heading
    &::after {
      content: '';
      position: absolute;
      bottom: -0.75rem;
      left: 50%;
      transform: translateX(-50%);
      width: 60px;
      height: 4px;
      background: variables.$gradient-blue;
      border-radius: variables.$radius-full;
    }
  }

  .section-heading__sub {
    @include mixins.sub-heading;
    
    & {
      animation: fadeInUp 0.6s ease-out 0.2s both;
      margin-top: 2rem;
    }
  }
}

// Animation for section headings
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
