@use "../../styles/main.scss";
@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.business-plan {
  .business-plan__container {
    padding-top: 0;
  }

  .business-plan__title {
    text-align: left;
    line-height: 2.5rem;
    margin-bottom: 1.5rem !important;
    @include mixins.heading;
  }

  .business-plan__desc {
    text-align: left;
    @include mixins.text;
  }

  .business-plan__img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
