.ck.ck-editor {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    flex: 1
}

.ck.ck-editor__main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ck-editor__editable {
    height: 100%;
    flex: 1;
}

.read-only-editor .ck.ck-editor__top.ck-reset_all{
    display: none;
}

.read-only-editor .ck.ck-editor__main>.ck-editor__editable {
    background: transparent;
    border: 0;
}